.tfl-bakerloo {
    background-color: #B36305;
    color: white;
}
.tfl-central {
    background-color: #E32017;
    color: white;
}
.tfl-circle {
    background-color: #FFD300;
    color: black;
}
.tfl-district {
    background-color: #00782A;
    color: white;
}
.tfl-hammersmith-city {
    background-color: #F3A9BB;
    color: black;
}
.tfl-jubilee {
    background-color: #A0A5A9;
    color: black;
}
.tfl-metropolitan {
    background-color: #9B0056;
    color: white;
}
.tfl-northern {
    background-color: #000000;
    color: white;
}
.tfl-piccadilly {
    background-color: #003688;
    color: white;
}
.tfl-victoria {
    background-color: #0098D4;
    color: white;
}
.tfl-waterloo-city {
    background-color: #95CDBA;
    color: black;
}